# Dependencies
node_modules

# Build outputs
dist
build

# Environment files
.env
.env.*
!.env.example

# Tests
tests
test
cypress

# Development files
.git
.gitignore
*.md
!README.md

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp
.cache
